
.custom-card-container {
    margin: 20px;
  }
  
  .custom-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  

  .custom-card button {
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-card button:hover {
    background-color: #311313;
    color: white;
  }
  
  
  .custom-card .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .custom-card .card-text {
    font-size: 16px;
    line-height: 1.5;
  }  


.imagen-item {
    width: 200px;
    height: 200px;
  }